:root {
	--site-color-01: #F8F8F8; /*header and footer backgrounds*/
	--site-color-02: #F5F5F5; /*background*/
	--site-color-highlight: #808080; /*highlight for underlines etc*/
	--site-color-text: #333333; /*all text color*/
	font-size: 62.5%;
}

body {
	background-color: var(--site-color-02);
}


.content-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	color: var(--site-color-text)
}

a {
	cursor: pointer;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 9.6rem;
	line-height: 1.1;
	color: var(--site-color-text)
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.2rem;
	font-weight: 600;
	color: var(--site-color-text)
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.8rem;
	color: var(--site-color-text)
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
	color: var(--site-color-text);
}

/* begin header section */
.header-main {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: var(--site-color-01);
	display: flex;
	justify-content: space-between;
	z-index: 1000;
}

/* left side button */

.header-main-home {
	width: fit-content;
	height: 100%;
	padding-left: 20px;
	display: flex;
}

.header-main-home h3 {
	padding: 0 10px;
	line-height: 3;
	font-size: 1.8rem;
	font-weight: 600;
}


.header-main-home h3 a {
	transition: all ease-in-out 100ms;
}



.header-main-home h3 a:hover {
	border-bottom: 3px solid var(--site-color-highlight);
}

/* right side nav */

.header-main-nav {
	width: fit-content;
	height: 100%;
	padding-right: 20px;
	align-items: center;
	column-gap: 10px;

}

.header-main-nav ul {
	list-style: none;
	margin-left: 30px;
}

.header-main-nav ul li {
	display: inline;
	float: left;
}

.header-main-nav ul li a {
	padding: 0 10px;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	line-height: 60px;
	color: var(--site-color-text);
	transition: all ease-in-out 100ms;
}

.header-main-nav ul li a:hover {
	border-bottom: 3px solid var(--site-color-highlight);
}

/* end header section */



/* begin main body section */

main {
	width: 100%;
	height: calc(100vh - 60px);
	background-color: var(--site-color-02);
	margin-top: 60px;
	background-size: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	column-gap: 220px;
}

main .home-image img {
	width: 340px;
	max-width: 100%;
	border-radius: 300px;
}

/* end main body section */


/* begin about me section */

.about-container {
	padding-top: 50px;
	width: 100%;
	background-color: var(--site-color-02);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	column-gap: 220px;
}

.about-image img {
	width: 600px;
}

.about-blurb h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.2rem;
	font-weight: 600;
}
/* end about me section */




/* begin projects section */

.projects-container {
	padding-top: 50px;
	width: 100%;
	background-color: var(--site-color-02);
	z-index: 100;

}


.projects-blurb {
    text-align: center;

}

.projects-blurb h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.2rem;
	font-weight: 600;
}

.projects-blurb p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

.projects-container-sub {
	padding-top: 25px;

	background-color: var(--site-color-02);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	z-index: 100;
	row-gap: 25px;
	column-gap: 25px;
}

.project-details {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-grow:2;
	row-gap: 20px;
}

.project-details img {
	width: 200px;
}
/* end projects section */



/* begin contact me section */
.contact-container {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background-color: var(--site-color-02);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	column-gap: 220px;
}

.contact-image img {
	width: 200px;
	max-width: 100%;
	border-radius: 100px;
}

.contact-blurb h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.2rem;
	font-weight: 600;
}

.contact-blurb a {
	font-family: 'Roboto', sans-serif;
	font-size: 2.6rem;
	font-weight: 600;
	color: var(--site-color-highlight);
	transition: all ease-in-out 100ms;
}

.contact-blurb a:hover {
	font-family: 'Roboto', sans-serif;
	font-size: 2.6rem;
	font-weight: 600;
	color: var(--site-color-highlight);	
	border-bottom: 3px solid var(--site-color-highlight);
}
/* end contact me section */



/* begin footer section */
.footer-main {
	width: 100%;
	height: 60px;
	background-color: var(--site-color-01);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.footer-main p {
	font-family: 'Roboto', sans-serif;
	color: var(--site-color-text);
}

/* end footer section */





/* mobile version */
@media only screen and (max-width: 600px){
	.content-container {
		max-width: 100%;
	}

    main {
        flex-direction: row;
        column-gap: 0;
        align-items:center;
		justify-content:space-around;
    }
    main .home-image img {
        width: 100%;
    }
	main .home-headline p {
		font-size: 1.5rem;
	}
	h1 {
		font-size: 5rem;
		line-height: 1.1;
	}
	.header-main-nav{
		display: none;
	}


	/*about*/
	.about-container {
		padding-top: 50px;
        flex-direction: row;
        column-gap: 0;
        align-items:center;
		justify-content:space-around;
	}
	
	.about-image img {
		display: none;
	}
	.about-blurb h2 {
		text-align: right;
	}

	/*projects*/
	.projects-blurb {
		text-align: left;

	}

	/* contact */
	.contact-container {
		padding-top: 50px;
		flex-direction: row;
		column-gap: 0;
		align-items:center;
		justify-content:space-around;
	}

	.contact-image img {
		display: none;
	}

	.contact-blurb h2 {
		text-align: right;

	}

	/* footer*/
	.footer-main p {
		width: 80%;
	}

}